<html>
    <head>
        <meta charset="utf-8" />
        <title> Logout Page </title>
        <link rel="stylesheet" href= {{ url_for('static', filename = 'css/style.css') }}>
    </head>
    
    <body>
        <form action="/upload" method="post" enctype = multipart/form-data>
            <div align ="center" class="bodytop">
                <br>
                <h1>Resume Screening</h1> 
                <h3>ODA Test</h3>
                <br>
            </div>
            
            <ul>
                <li><a href="/" target="_self">Home</a></li>
                <li><a href="/upload" target="_self">Upload</a></li>
                <li style="float:right"><a class="active" href="/logout" target="_self">Logout</a></li>
              </ul>

            <div align ="center">
                <h1> Thank You for Your Application !!! </h1>
            </div>
            <div class="footer">
                <h2> ODA </h2>
            </div>
        </form>
    </body>
</html>
